
.a-category {
  margin-top: 60px;
}

.a-partners-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 40px;
}
.a-partners-list > .a-partners-item {
  width: 80%;
  background-color: #ffffff;
  margin-top: 20px;
  text-decoration: none;
  color: #222222;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  transition: background-color .1s ease-in;
}

.a-partners-list > .a-partners-item:hover {
  background-color: #e5e5e5;
}

.a-partners-list > .a-partners-item > div {
  padding: 20px 20px 20px 20px;
}

.a-partners-list > .a-partners-item > .a-partners-image > img {
  max-width: 200px;
  max-height: 200px;
}
.a-partners-list > .a-partners-item > .a-partners-text {
  width: calc(100% - 240px);
  min-width: 250px;
  padding: 0;
}

.a-partners-list > .a-partners-item > .a-partners-text > p {
  text-align: justify;
  padding: 0;
  margin: 30px;
}

@media screen and (max-width: 818px) {
  .a-partners-list > .a-partners-item > .a-partners-text {
    width: 90%;
  }
}

@media screen and (max-width: 500px) {
  .a-partners-list > .a-partners-item {
    width: 90%;
  }
}

@media screen and (max-width: 450px) {
  .a-partners-list > .a-partners-item > .a-partners-text > p {
    margin: 0 0 20px 0;
  }
  
  .a-partners-list > .a-partners-item > .a-partners-text {
    min-width: 0;
  }
}
