
.a-partners-main{
  background-color: #222222;
}
.a-partners-list {
  display: flex;
  flex-direction: column;
  background-color: #222222;
  justify-content: center;
  align-items: center;
  padding-bottom: 40px;
}
.a-partners-list > .a-partners-item{
  width: 80%;
  background-color: #ffffff;
  margin-top: 20px;
  text-decoration: none;
  color: #222222;
  display: flex;
  align-items: center;
}

.a-partners-list > .a-partners-item > div{
  padding: 20px 20px 20px 20px;
}

.a-partners-list > .a-partners-item > div > img{
  max-width: 200px;
  max-height: 200px;
}

.a-partners-list > .a-partners-item > div > p{
  text-align: justify;
  padding: 10px 10px 10px 10px;
  margin: 0px 0px 0px 0px;
}
