.a-intro {
  position: relative;
}

.a-intro__logo {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  user-select: none;
}

.a-intro__logo img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
}

.a-intro__shadow {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}

.a-intro__shadow:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 30px;
  background: linear-gradient(to bottom, rgba(32,32,32,0) 0%,rgba(32,32,32,1) 100%);
}

.a-intro__images {
  height: calc(100vh - 60px);
  width: 100vw;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 60px;
}

.a-intro__images__image {
  flex: 1;
  flex-basis: 100%;
  max-width: 100%;
  height: 20%;
  background-size: cover;
}

.a-intro__images__image:nth-child(5) {
  background-position: center center;
}
.a-intro__images__image:nth-child(3) {
  background-position: center 20%;
}
.a-intro__images__image:nth-child(1) {
  background-position: center 20%;
}
.a-intro__images__image:nth-child(4) {
  background-position: center 15%;
}
.a-intro__images__image:nth-child(2) {
  background-position: center 10%;
}

@media (min-width: 996px) {
  .a-intro__shadow {
    box-shadow: inset 0 0px 490px 30px rgba(0,0,0,0.8);
  }

  .a-intro__images {
    display: block;
  }

  .a-intro__images__image {
    position: absolute;
    width: 100%;
    height: 100%;
    background-position: center center;
  }

  .a-intro__images__image:nth-child(5) {
    clip-path: polygon(0 0, 30% 0, 10% 100%, 0% 100%);
  }
  .a-intro__images__image:nth-child(3) {
    clip-path: polygon(50% 0, 30% 0, 10% 100%, 30% 100%);
  }
  .a-intro__images__image:nth-child(1) {
    clip-path: polygon(50% 0, 70% 0, 50% 100%, 30% 100%);
  }
  .a-intro__images__image:nth-child(4) {
    clip-path: polygon(90% 0, 70% 0, 50% 100%, 70% 100%);
  }
  .a-intro__images__image:nth-child(2) {
    clip-path: polygon(90% 0, 100% 0, 100% 100%, 70% 100%);
  }
}