.a-list-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 25px;
  min-height: 80px;
  font-size: 24px;
  background-color: #222;
  border: 2px solid transparent;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.12);
  border-radius: 2px;
  color: #fff;
  cursor: pointer;
  transition: .1s border ease-out;
}

.a-list-item > h3 {
  margin: 0 0 12px 0;
  font-size: 24px;
  font-family: 'ua2018-font', Impact, sans-serif;
  color: #58ebdf;
  letter-spacing: 1px;
  text-transform: uppercase;
}

/* if no span, no margin bottom to h3 */
.a-list-item > h3:last-child {
  margin-bottom: 0;
}

.a-list-item > span {
  display: inline-block;
  font-size: 16px;
  text-align: justify;
}

.a-list-item:hover,
.a-list-item.selected {
  border: 2px solid #58ebdf;
}

@media (min-width: 768px) {
  .a-list-item > h3 {
    max-width: calc(100% - 60px);
    text-align: left;
  }

  .a-list-item > span {
    max-width: calc(100% - 60px);
    text-align: left;
  }
}
