
.a-mentions-body {
  width: 80%;
  color: #fff;
  margin: 50px auto 0;
  text-align: justify;
}
.a-mentions-body > .a-category {
  margin: 40px -20px 35px -20px;
  padding: 0;
}
.a-mentions-body > h1 {
  text-align: center;
}
.a-mentions-body > h2 {
  text-align: center;
}
