.successframe > p {
  color: white;
  text-align: center;
}
.successframe > h1 {
  color: var(--accent);
}
.successframe {
  text-align: center;
  padding: 20px 10px 20px 10px;
  margin-top: 100px;
  background-color: #222;
}
