.a-button {
  border: 0;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  font-size: 24px;
  padding: 4px 32px;
  text-transform: uppercase;
  font-family: 'ua2019-font', Impact, sans-serif;
  letter-spacing: .5px;
}

.a-button:focus {
  outline: 0;
}

.a-button.raised {
  color: #eeeeee;
  background-color: var(--accent);
  transition: all .2s ease-in;
}

.a-button.raised:hover {
  background-color: var(--accent-hover);
}
