.a-button {
  background-color: #380096;
  border: 0;
  color: #fff;
  cursor: pointer;
  font-size: 24px;
  padding: 4px 32px;
  text-transform: uppercase;
  font-family: 'ua2018-font', Impact, sans-serif;
  letter-spacing: .5px;
}
