
.imageview__container {
  position: fixed;
  top: 60px;
  left: 0;
  width: 100vw;
  height: calc(100vh - 60px);
  z-index: 6;
  background: rgba(32,32,32,0.9);
  color: #fff;
}

.imageview__close {
  display: inline-block;
  position: absolute;
  top: 15px;
  right: 35px;
  z-index: 1;
  cursor: pointer;
  padding: 2px 10px;
  border: 2px solid #fff;
  border-radius: 4px;
  background: #202020;
  font-size: 1.6em;
  user-select: none;
}

.imageview__content {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 30px 120px 30px 100px;
}

.imageview__content img {
  max-width: 100%;
  max-height: 100%;
  user-select: none;
}

.imageview__arrow__left, .imageview__arrow__right {
  position: absolute;
  line-height: 160px;
  font-size: 80px;
  width: 80px;
  padding-bottom: 18px;
  text-align: center;
  cursor: pointer;
  user-select: none;
}

.imageview__arrow__left.disabled {
  color: #5f5f5f;
  border-right-color: #5f5f5f;
}

.imageview__arrow__right.disabled {
  color: #5f5f5f;
  border-left-color: #5f5f5f;
}

.imageview__arrow__left {
  border-right: 2px solid #b8b8b8;
  left: 0;
}

.imageview__arrow__right {
  border-left: 2px solid #b8b8b8;
  right: 20px;
}

@media screen and (max-width: 500px) {
  .imageview__content {
    padding: 10px;
  }
  
  .imageview__close {
    right: 8px;
    top: 8px;
  }

  .imageview__arrow__left, .imageview__arrow__right {
    overflow: hidden;
    top: 8px;
    width: 37px;
    height: 37px;
    font-size: 37px;
    line-height: 37px;
    padding: 0;
    border: none;
    background: #202020;
    border: 2px solid #fff;
    border-radius: 4px;
  }

  .imageview__arrow__left {
    left: 8px;
    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .imageview__arrow__right {
    left: 45px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  
  .imageview__arrow__right.disabled {
    border-left-color: #fff;
  }

  .imageview__arrow {
    position: relative;
    top: -5px;
  }
}