.a-team-table {
  width: 100%;
  max-width: 520px;
  margin: 0 auto 32px auto;
  padding: 20px;
  background-color: #222;
  border-radius: 3px;
  color: #fff;
}

.a-team-table__header {
  border-bottom: 1px solid rgba(255,255,255,.5);
  margin-bottom: 10px;
  padding-bottom: 15px;
}

.a-team-table__header__row {
  display: flex;
  font-weight: 400;
}

.a-team-table__body__row {
  display: flex;
  font-size: 12px;
}

.a-team-table__body__row:not(:last-child) {
  margin-bottom: 10px;
}

.a-team-table__header__row__cell,
.a-team-table__body__row__cell {
  flex: 1;
}

.a-team-table__payment {
  display: flex;
  align-items: center;
}

.a-team-table__payment--yes,
.a-team-table__payment--no {
  border-radius: 50%;
  display: inline-block;
  height: 20px;
  margin-right: 10px;
  width: 20px;
}

.a-team-table__payment--yes {
  background-color: #2ecc71;
}

.a-team-table__payment--no {
  background-color: #f39c12;
}

.a-team-table__footer {
  border-top: 1px solid rgba(255,255,255,.5);
  display: flex;
  font-size: 12px;
  justify-content: space-between;
  margin-top: 10px;
  padding-top: 15px;
}

@media (min-width: 768px) {
  .a-team-table__body__row {
    font-size: 16px;
  }

  .a-team-table__footer {
    font-size: 16px;
  }
}
