.a-contact-modal > .a-contact-form {
  padding: 10px 10px 10px 10px;
}

.a-contact-form > * {
  width: 100%;
  margin-bottom: 10px;
}

.a-contact-modal > div {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #222;
}

.a-contact-modal > div > h1 {
  color: var(--accent);
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}

.contact-select > div {
  max-width: 400px;
}
.contact-select > div > div {
  max-width: 400px;
}

.a-contact-form > textarea {
  padding: 8px;
  font-size: 14px;
  resize: vertical;
  min-height: 70px;
}

.a-contact-form input, .a-contact-form textarea {
  font-family: sans-serif;
}

.a-contact-form .contact-select {
  margin-top: 0;
}
