.a-partners {
  background-color: #222;
  padding: 22px 0 24px 0;
  overflow: hidden;
}

.a-partners > h2 {
  text-align: center;
  color: #fff;
  margin: 0 0 20px 0;
}

.a-partners__images {
  display: flex;
  overflow-x: overlay;
  max-width: 100%;
  padding: 0 12px;
}

.a-partners__images > img {
  height: 100px;
  width: 100px;
}

.a-partners__images > img:not(:first-child) {
  margin-left: 12px;
}

@media (min-width: 768px) {
  .a-partners__images {
    justify-content: center;
    flex-wrap: wrap;
    line-height: 112px;
  }

  .a-partners__images > img:not(:first-child) {
    margin-left: 12px;
  }
}
