

.a-category {
  margin-top: 60px;
}

.a-gallery__year__buttons {
  width: 80%;
  margin: 0 auto 15px auto;
  text-align: center;
}

.a-gallery__year__button {
  position: relative;
  display: inline-block;
  color: #fff;
  background-color: #444;
  border: 1px solid #666;
  padding: 14px 20px;
  margin: 0 6px;
  cursor: pointer;
  font-weight: bold;
  user-select: none;
  transition: background-color .2s ease-in;
}

.a-gallery__year__button:hover {
  background-color: #363636;
}

.a-gallery__year__button.active {
  background: none;
  border-bottom: 2px solid var(--accent);
  color: var(--accent);
}

.a-gallery__year__button.active:hover {
  background-color: #191919;

}

.a-gallery__year__button.active:after {
  content: '';
  position: absolute;
  display: block;
  border: 10px solid transparent;
  border-top-color: var(--accent);
  width: 0;
  height: 0;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.a-gallery__content {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto 40px auto;
  color: #fff;
}

.a-gallery__content {
  width: 80%;
  display: flex;
  justify-content: center;
}

.a-gallery__image__container {
  max-width: 100%;
  height: 266.66px;
  margin: 5px;
  overflow: hidden;
  transition: all .2s ease-in;
}

.a-gallery__image__container:hover {
  transform: scale(1.02);
}

.a-gallery__image__container img {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  max-height: 100%;
  object-fit: cover;
  object-position: center;
  cursor: pointer;
  user-select: none;
}

@media (max-width: 768px) {
  .a-gallery__content {
    width: 90%;
  }
}

@media (max-width: 500px) {
  .a-gallery__content {
    width: 100%;
  }
}
