.a-intro-header {
  position: fixed;
  height: 60px;
  width: 100vw;
  max-width: 100%;
  top: 0;
  background-color: #202020;
  border-bottom: 3px solid #fff;
  z-index: 10;
}

.a-intro-header__nav__desktop {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.a-intro-header__nav__desktop a{

  font-family: 'ua2019-font', Impact, sans-serif;
  text-transform: uppercase;
  font-size: 24px;
  text-decoration: none;
  color: #fff;
  padding: 0 15px;
  line-height: 57px;
  height: 57px;
  border-bottom: 4px solid transparent;
  transition: border-bottom .3s;
}

.a-intro-header__nav__desktop a:hover {
  border-bottom: 4px solid #fff;
}

.a-intro-header__nav__desktop div.a-intro-header__mainButton a,
.a-intro-header__nav__desktop div.a-intro-header__mainButton .a-button{
  margin: 10px 0;
}

.a-intro-header__nav__mobile {
  display: none;
}

@media screen and (max-width: 1000px) {
  .a-intro-header__nav__desktop {
    display: none;
    
  }
  

  .a-intro-header__nav__mobile {
    display: block;
    height: 60px;
  }

  .a-intro-header__nav__mobile .a-intro-header__nav__mobile__topbar {
    display: flex;
    align-items: center;
    height: 100%;
  }

  .a-intro-header__nav__mobile .a-intro-header__hamburger {
    position: relative;
    height: 25px;
    width: 32px;
  }
  
  .a-intro-header__nav__mobile .a-intro-header__hamburger__segment {
    position: absolute;
    background: #fff;
    height: 5px;
    width: 32px;
    transition: all .3s;
  }
  
  .a-intro-header__nav__mobile .a-intro-header__hamburger__segment:nth-child(1) {
    top: 0;
  }

  .a-intro-header__nav__mobile .a-intro-header__hamburger__segment:nth-child(2) {
    top: 10px;
  }

  .a-intro-header__nav__mobile .a-intro-header__hamburger__segment:nth-child(3) {
    top: 20px;
  }

  .a-intro-header__nav__mobile .a-intro-header__hamburger.active .a-intro-header__hamburger__segment:nth-child(1) {
    transform: rotate(45deg);
    top: 11px;
  }
  
  .a-intro-header__nav__mobile .a-intro-header__hamburger.active .a-intro-header__hamburger__segment:nth-child(2) {
    opacity: 0;
  }

  .a-intro-header__nav__mobile .a-intro-header__hamburger.active .a-intro-header__hamburger__segment:nth-child(3) {
    transform: rotate(-45deg);
    top: 11px;
  }

  .a-intro-header__nav__mobile .a-intro-header__mainButton {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .a-intro-header__nav__mobile__content {
    background: #202020;
    box-shadow: 0 3px 0 transparent;
    max-height: 0;
    overflow: hidden;
    transition: max-height .3s ease-in-out, box-shadow .3s;
  }

  .a-intro-header__nav__mobile__content.active {
    max-height: 100vh;
    box-shadow: 0 3px 0 #fff;
  }

  .a-intro-header__nav__mobile__content a {
    font-family: 'ua2019-font', Impact, sans-serif;
    text-transform: uppercase;
    font-size: 24px;
    text-decoration: none;
    color: #fff;
    border-bottom: 4px solid transparent;
    transition: border-bottom .3s;
    display: block;
    padding: 8px 100% 8px 20px;

 
  }

  .a-intro-header__nav__mobile__overlay {
    background: rgba(255,255,255,0.4);
    position: absolute;
    height: 0;
    width: 100vw;
    opacity: 0;
    transition: height .3s cubic-bezier(1,0,1,0), opacity .3s;
  }

  .a-intro-header__nav__mobile__overlay.active {
    height: 100vh;
    opacity: 1;
    transition: height .3s cubic-bezier(0,1,0,1), opacity .3s;
  }
}

@media screen and (max-width: 350px) {
  .a-intro-header__nav__mobile .a-intro-header__mainButton {
    left: 100%;
    transform: translateX(calc(-100% - 10px));
  }
}