.b-home {
  width: 100%;
  background-image: url('../../assets/background.jpg');
}

.b-home__content {
  margin: 0 auto;
  padding: 40px 0;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0,0,0,.5);
}

.b-home h2, .b-home p {
  margin: 0;
}

@media (min-width: 768px) {
  .b-home__content {
    padding: 60px 0;
    width: 600px;
  }
}

@media (min-width: 992px) {
  .b-home__content {
    padding: 70px 0;
    width: 750px;
  }
}

@media (min-width: 1200px) {
  .b-home__content {
    padding: 80px 0;
    width: 970px;
  }
}
