.a-informations h2, .a-informations p {
  margin: 0;
  text-align: center;
}

.a-informations h2 {
  font-size: 28px;
  margin: 0;
}

.a-informations p {
  text-align: justify;
  margin: 24px 0;
}

.a-informations > table {
  margin-top: 12px;
}

.a-informations > table > tbody > tr > td {
  padding-bottom: 8px;
}

.a-informations > table > tbody > tr > td:first-child {
  font-weight: bold;
  vertical-align: top;
  text-align: right;
  padding-right: 12px;
}

.a-informations > table > tbody > tr > td:last-child {
  padding-left: 12px;
}
