.a-informations h2, .a-informations p {
  margin: 0;
  text-align: center;
}

.a-informations h2 {
  font-size: 28px;
  margin: 0;
}

.a-informations p {
  text-align: justify;
  margin: 24px 0;
}

.a-informations__table {
  margin-top: 24px;
}

.a-informations__table__row {
  display: flex;
  align-items: flex-start;
}

.a-informations__table__row__cell:first-child {
  font-weight: bold;
  min-width: 100px;
}
