.a-faq {
  width: 100%;
  background-color: #202020;
  background-size: 100% 100%;
}

.a-category {
  margin-top: 60px;
}

.a-faq__content {
  margin: 0 auto;
  padding: 0 20px 40px 20px;
  color: #fff;
}

.a-faq__title {
  font-size: 1.3em;
  color: var(--accent);
  font-weight: normal;
}

@media (min-width: 768px) {
  .a-faq__content {
    width: 600px;
  }
}

@media (min-width: 992px) {
  .a-faq__content {
    width: 750px;
  }
}

@media (min-width: 1200px) {
  .a-faq__content {
    width: 970px;
  }
}

.faq-container {
  display: block;
  background: #272727;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #fff;
  position: relative;
}

.faq-container a {
  color: var(--accent);
}

.faq-question {
  display: block;
  cursor: pointer;
  padding: 15px 20px 13px 35px;
  margin: 0;
  transition: all .2s ease-in;
}

.faq-question:hover {
  filter: brightness(0.9);
}

.faq-container.active .faq-question {
  border-bottom: 1px solid #fff;
}

.faq-answer {
  display: block;
  margin: 0;
  padding: 15px 20px;
  transition: opacity .15s ease-in, height .5s ease-in, padding-top .5s ease-in, padding-bottom .5s ease-in;
  overflow: hidden;
}

.faq-container:not(.active) .faq-answer {
  height: 0;
  opacity: 0;
  padding-top: 0;
  padding-bottom: 0;
}

.faq-container .faq-arrow {
  position: absolute;
  left: 13px;
  top: 18px;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  height: 9px;
  width: 9px;
  transform: rotate(45deg);
  transition: all .3s;
}

.faq-container.active .faq-arrow {
  transform: rotate(135deg);
  left: 15px;
  top: 15px;
}
