
.a_footer{

margin: 80px auto 10px auto;
max-width: 970px;
text-align: center;
text-decoration: none;
}
.a_footer div a{

    text-decoration: none;
    color: var(--accent);
}
.a_footer .buton{
    margin: 10px auto 0px auto;

}