.a-infos {
  width: 100%;
  background-color: #202020;
  background-size: 100% 100%;
}

.a-infos__content {
  margin: 0 auto;
  padding: 40px 20px;
  color: #fff;
  margin-top: 50px;
}

.a-infos__content > .a-category {
  margin: 40px -20px 35px -20px;
}

.a-infos__content > .a-category:first-of-type {
  margin-top: 0;
}

.a-infos__content .a-infos__map {
  text-align: center;
}

.a-infos__content iframe {
  display: inline-block;
  margin-top: 40px;
  width: 100%;
}

.a-infos__content > .a-informations + .a-button {
  display: block;
  margin: 24px auto 0 auto;
}

.a-infos__content.a-infos__footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 180px;
  padding: 20px;
  color: #fff;
}

.a-infos__content.a-infos__footer > div {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.a-infos__footer a {
  margin: 0 12px;
  color: #14d9fa;
  text-decoration: none;
}

.a-info__title {
  font-size: 1.5em;
  color: #14d9fa;
  font-weight: bold;
}

.a-infos__important {
  font-weight: bold;
  color: #14d9fa;
}

.a-infos__logo {
  margin: 0 auto;
  display: block;
  height: 300px;
}

.a-infos__content table {
  margin: 0 auto;
}

.a-infos__content table * {
  padding: 15px;
}

.a-infos__content table th:not(.a-infos__table__void) {
  border-bottom: 2px solid #fff;
}

.a-infos__content table td {
  border-bottom: 1px solid #fff;
}

.a-infos__content table tbody tr:nth-child(1) {
  background: rgba(50, 50, 50, 0.7);
}

@media (min-width: 768px) {
  .a-infos__content {
    width: 600px;
  }

  .a-infos__logo {
    height: 400px;
  }
}

@media (min-width: 992px) {
  .a-infos__content {
    width: 750px;
  }
}

@media (min-width: 1200px) {
  .a-infos__content {
    width: 970px;
  }
}
