
.a-gallery {
  background-color: #202020;
}

.a-category {
  margin-top: 60px;
}

.a-gallery__content {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto 40px auto;
  color: #fff;
}

.a-gallery__content {
  width: 80%;
  display: flex;
  justify-content: center;
}

.a-gallery__image__container {
  max-width: 100%;
  height: 266.66px;
  margin: 5px;
  overflow: hidden;
}

.a-gallery__image__container img {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  max-height: 100%;
  object-fit: cover;
  object-position: center;
  cursor: pointer;
}

@media (max-width: 768px) {
  .a-gallery__content {
    width: 90%;
  }
}

@media (max-width: 500px) {
  .a-gallery__content {
    width: 100%;
  }
}