.a-gallery {
  width: 100%;
  background-color: #202020;
  background-size: 100% 100%;
}

.a-gallery__content {
  margin: 0 auto;
  padding: 40px 20px;
  color: #fff;
  margin-top: 50px;
}

@media (min-width: 768px) {
  .a-gallery__content {
    width: 600px;
  }
}

@media (min-width: 992px) {
  .a-gallery__content {
    width: 750px;
  }
}

@media (min-width: 1200px) {
  .a-gallery__content {
    width: 970px;
  }
}