.a-gallery {
  width: 100%;
  background-color: #202020;
  background-size: 100% 100%;
}

.a-gallery__content {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 40px 20px;
  color: #fff;
  margin-top: 50px;
}

.a-gallery__content span {
  width: 300px;
  margin: 5px;
}

.a-gallery__content {
  width: 80%;
}

.a-gallery__image__container {
  display: block;
}

@media (max-width: 768px) {
  .a-gallery__content {
    width: 600px;
  }
}